<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Homeloan Comparison</title>
</head>
<body>

	<div id="comparison" class="comparison">
	  	<div class="comparison__filter">
	  		<form>
	  			<fieldset>
	  				<legend>General search</legend>
	  		   <div>
		  		   <label for="comparison-search">Search</label>
		  		   <input type="text" id="comparison-search" name="search" placeholder="e.g. ANZ something" />
	  		   </div>
	  		</fieldset>
	  		<fieldset>
	  			<legend>Do you know how much you'll be spending?</legend>
	  		   <div>
	  		       <label for="comparison-property-price">How much is the property you're looking to buy?</label>
	  		       $<input type="number" name="property-price" id="comparison-property-price" />
	  		   </div>
	  		   <div>
	  		       <label for="comparison-deposit">How much of the deposit will you have?</label>
	  		       $<input type="number" name="deposit" id="comparison-deposit" />
	  		   </div>
	  		</fieldset>
	  		   <div>
	  		   	<button>Update list</button>
	  		   </div>
	  		</form>
	  	</div>
	  	<div class="comparison__listing">
	  	   <ul id="comparison-listing">

	  	   </ul>
	  	</div>
	</div>

	<script type="text/html" id="comparison-list-item-template">
	  <li>
	  	<img src="<%= thumbnailImage %>" alt="Logo for <%= provider %>" />
	    <h3><%= title %></h3>
	    <p><%= description %></p>
	  </li>
	</script>

	<script src="bower_components/jQuery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="js/models.js"></script>
	<script src="js/collections.js"></script>
	<script src="js/views.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
